
<div *ngIf="detCandidatura">
    <h2><span jhiTranslate="prosopografiaApp.detCandidatura.detail.title">Det Candidatura</span> {{detCandidatura.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="prosopografiaApp.detCandidatura.fechaInicio">Fecha Inicio</span></dt>
        <dd>
            <span>{{detCandidatura.fechaInicio | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="prosopografiaApp.detCandidatura.fechaFin">Fecha Fin</span></dt>
        <dd>
            <span>{{detCandidatura.fechaFin | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="prosopografiaApp.detCandidatura.observaciones">Observaciones</span></dt>
        <dd>
            <span>{{detCandidatura.observaciones}}</span>
        </dd>
        <dt><span jhiTranslate="prosopografiaApp.detCandidatura.candidatura">Candidatura</span></dt>
        <dd>
            <div *ngIf="detCandidatura.candidatura">
                <a [routerLink]="['/candidatura-pr', detCandidatura.candidatura?.id]">{{detCandidatura.candidatura?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'det-candidatura-pr/'+ detCandidatura.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
