
<div *ngIf="parejaPersonaje">
    <h2><span jhiTranslate="prosopografiaApp.parejaPersonaje.detail.title">Pareja Personaje</span> {{parejaPersonaje.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="prosopografiaApp.parejaPersonaje.nombres">Nombres</span></dt>
        <dd>
            <span>{{parejaPersonaje.nombres}}</span>
        </dd>
        <dt><span jhiTranslate="prosopografiaApp.parejaPersonaje.apellidos">Apellidos</span></dt>
        <dd>
            <span>{{parejaPersonaje.apellidos}}</span>
        </dd>
        <dt><span jhiTranslate="prosopografiaApp.parejaPersonaje.fechaDesde">Fecha Desde</span></dt>
        <dd>
            <span>{{parejaPersonaje.fechaDesde | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="prosopografiaApp.parejaPersonaje.fechaHasta">Fecha Hasta</span></dt>
        <dd>
            <span>{{parejaPersonaje.fechaHasta | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="prosopografiaApp.parejaPersonaje.personaje">Personaje</span></dt>
        <dd>
            <div *ngIf="parejaPersonaje.personaje">
                <a [routerLink]="['/personaje-pr', parejaPersonaje.personaje?.id]">{{parejaPersonaje.personaje?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'pareja-personaje-pr/'+ parejaPersonaje.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
