
<div *ngIf="relacionFamiliar">
    <h2><span jhiTranslate="prosopografiaApp.relacionFamiliar.detail.title">Relacion Familiar</span> {{relacionFamiliar.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="prosopografiaApp.relacionFamiliar.nombre">Nombre</span></dt>
        <dd>
            <span>{{relacionFamiliar.nombre}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'relacion-familiar-pr/'+ relacionFamiliar.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
