<div>
    <h2>
        <span jhiTranslate="prosopografiaApp.familiarPersonaje.home.title">Familiar Personajes</span>
        <button class="btn btn-primary float-right jh-create-entity create-familiar-personaje-pr" [routerLink]="['/', { outlets: { popup: ['familiar-personaje-pr-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="prosopografiaApp.familiarPersonaje.home.createLabel">
            Create new Familiar Personaje
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'prosopografiaApp.familiarPersonaje.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="familiarPersonajes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="persona.id"><span jhiTranslate="prosopografiaApp.familiarPersonaje.persona">Persona</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="relacionFamiliar.nombre"><span jhiTranslate="prosopografiaApp.familiarPersonaje.relacionFamiliar">Relacion Familiar</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="personaje.id"><span jhiTranslate="prosopografiaApp.familiarPersonaje.personaje">Personaje</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let familiarPersonaje of familiarPersonajes ;trackBy: trackId">
                <td><a [routerLink]="['../familiar-personaje-pr', familiarPersonaje.id ]">{{familiarPersonaje.id}}</a></td>
                <td>
                    <div *ngIf="familiarPersonaje.persona">
                        <a [routerLink]="['../persona-pr', familiarPersonaje.persona?.id ]" >{{familiarPersonaje.persona?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="familiarPersonaje.relacionFamiliar">
                        <a [routerLink]="['../relacion-familiar-pr', familiarPersonaje.relacionFamiliar?.id ]" >{{familiarPersonaje.relacionFamiliar?.nombre}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="familiarPersonaje.personaje">
                        <a [routerLink]="['../personaje-pr', familiarPersonaje.personaje?.id ]" >{{familiarPersonaje.personaje?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../familiar-personaje-pr', familiarPersonaje.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'familiar-personaje-pr/'+ familiarPersonaje.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'familiar-personaje-pr/'+ familiarPersonaje.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="familiarPersonajes && familiarPersonajes.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
