<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myFamiliarPersonajeLabel" jhiTranslate="prosopografiaApp.familiarPersonaje.home.createOrEditLabel">Create or edit a Familiar Personaje</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!familiarPersonaje.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="familiarPersonaje.id" readonly />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="prosopografiaApp.familiarPersonaje.persona" for="field_persona">Persona</label>
            <select class="form-control" id="field_persona" name="persona" [(ngModel)]="familiarPersonaje.persona"  required>
                <option *ngIf="!editForm.value.persona" [ngValue]="null" selected></option>
                <option [ngValue]="personaOption.id === familiarPersonaje.persona?.id ? familiarPersonaje.persona : personaOption" *ngFor="let personaOption of personas; trackBy: trackPersonaById">{{personaOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.persona?.dirty && editForm.controls.persona?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.persona?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="prosopografiaApp.familiarPersonaje.relacionFamiliar" for="field_relacionFamiliar">Relacion Familiar</label>
            <select class="form-control" id="field_relacionFamiliar" name="relacionFamiliar" [(ngModel)]="familiarPersonaje.relacionFamiliar"  required>
                <option *ngIf="!editForm.value.relacionFamiliar" [ngValue]="null" selected></option>
                <option [ngValue]="relacionFamiliarOption.id === familiarPersonaje.relacionFamiliar?.id ? familiarPersonaje.relacionFamiliar : relacionFamiliarOption" *ngFor="let relacionFamiliarOption of relacionfamiliars; trackBy: trackRelacionFamiliarById">{{relacionFamiliarOption.nombre}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.relacionFamiliar?.dirty && editForm.controls.relacionFamiliar?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.relacionFamiliar?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="prosopografiaApp.familiarPersonaje.personaje" for="field_personaje">Personaje</label>
            <select class="form-control" id="field_personaje" name="personaje" [(ngModel)]="familiarPersonaje.personaje"  required>
                <option *ngIf="!editForm.value.personaje" [ngValue]="null" selected></option>
                <option [ngValue]="personajeOption.id === familiarPersonaje.personaje?.id ? familiarPersonaje.personaje : personajeOption" *ngFor="let personajeOption of personajes; trackBy: trackPersonajeById">{{personajeOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.personaje?.dirty && editForm.controls.personaje?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.personaje?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
