
<div *ngIf="persona">
    <h2><span jhiTranslate="prosopografiaApp.persona.detail.title">Persona</span> {{persona.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="prosopografiaApp.persona.nombres">Nombres</span></dt>
        <dd>
            <span>{{persona.nombres}}</span>
        </dd>
        <dt><span jhiTranslate="prosopografiaApp.persona.apellidos">Apellidos</span></dt>
        <dd>
            <span>{{persona.apellidos}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'persona-pr/'+ persona.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
