<div>
    <h2>
        <span jhiTranslate="prosopografiaApp.asociacionPersonaje.home.title">Asociacion Personajes</span>
        <button class="btn btn-primary float-right jh-create-entity create-asociacion-personaje-pr" [routerLink]="['/', { outlets: { popup: ['asociacion-personaje-pr-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="prosopografiaApp.asociacionPersonaje.home.createLabel">
            Create new Asociacion Personaje
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'prosopografiaApp.asociacionPersonaje.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="asociacionPersonajes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fechaDesde"><span jhiTranslate="prosopografiaApp.asociacionPersonaje.fechaDesde">Fecha Desde</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fechaHasta"><span jhiTranslate="prosopografiaApp.asociacionPersonaje.fechaHasta">Fecha Hasta</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="asociacion.nombre"><span jhiTranslate="prosopografiaApp.asociacionPersonaje.asociacion">Asociacion</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="personaje.id"><span jhiTranslate="prosopografiaApp.asociacionPersonaje.personaje">Personaje</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let asociacionPersonaje of asociacionPersonajes ;trackBy: trackId">
                <td><a [routerLink]="['../asociacion-personaje-pr', asociacionPersonaje.id ]">{{asociacionPersonaje.id}}</a></td>
                <td>{{asociacionPersonaje.fechaDesde | date:'mediumDate'}}</td>
                <td>{{asociacionPersonaje.fechaHasta | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="asociacionPersonaje.asociacion">
                        <a [routerLink]="['../asociacion-pr', asociacionPersonaje.asociacion?.id ]" >{{asociacionPersonaje.asociacion?.nombre}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="asociacionPersonaje.personaje">
                        <a [routerLink]="['../personaje-pr', asociacionPersonaje.personaje?.id ]" >{{asociacionPersonaje.personaje?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../asociacion-personaje-pr', asociacionPersonaje.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'asociacion-personaje-pr/'+ asociacionPersonaje.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'asociacion-personaje-pr/'+ asociacionPersonaje.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="asociacionPersonajes && asociacionPersonajes.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
