
<div *ngIf="carrera">
    <h2><span jhiTranslate="prosopografiaApp.carrera.detail.title">Carrera</span> {{carrera.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="prosopografiaApp.carrera.nombre">Nombre</span></dt>
        <dd>
            <span>{{carrera.nombre}}</span>
        </dd>
        <dt><span jhiTranslate="prosopografiaApp.carrera.titulo">Titulo</span></dt>
        <dd>
            <span>{{carrera.titulo}}</span>
        </dd>
        <dt><span jhiTranslate="prosopografiaApp.carrera.duracion">Duracion</span></dt>
        <dd>
            <span>{{carrera.duracion}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'carrera-pr/'+ carrera.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
