<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPersonajeLabel" jhiTranslate="prosopografiaApp.personaje.home.createOrEditLabel">Create or edit a Personaje</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group">
            <ul class="nav nav-pills nav-fill" id="personajePill" role="tablist">
                <li class="nav-item">
                    <a [routerLink]="['/', { outlets: { personaje: 'personaje-pr/datos-personales'} }]" routerLinkActive="active" class="nav-link" id="datos-personales-tab" data-toggle="tab" role="tab" jhiTranslate="prosopografiaApp.personaje.datosPersonales">Datos personales</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="[{ outlets: { personaje: ['datos-personales'] } }]" routerLinkActive="active" class="nav-link" id="familia-tab" data-toggle="tab" role="tab">Familia</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="[{ outlets: { personaje: ['datos-personales'] } }]" routerLinkActive="active" class="nav-link" id="estudios-tab" data-toggle="tab" role="tab">Estudios</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="[{ outlets: { personaje: ['datos-personales'] } }]" routerLinkActive="active" class="nav-link" id="partidos-tab" data-toggle="tab" role="tab">Partidos</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="[{ outlets: { personaje: ['datos-personales'] } }]" routerLinkActive="active" class="nav-link" id="observaciones-tab" data-toggle="tab" role="tab">Observaciones</a>
                </li>
            </ul>
        </div>

        <div class="form-group" [hidden]="!personaje.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="personaje.id" readonly />
        </div>

        <router-outlet name="personaje"></router-outlet>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
