<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPersonajeLabel" jhiTranslate="prosopografiaApp.personaje.home.createOrEditLabel">Create or edit a Personaje</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!personaje.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="personaje.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="prosopografiaApp.personaje.fechaNacimiento" for="field_fechaNacimiento">Fecha Nacimiento</label>
            <div class="input-group">
                <input id="field_fechaNacimiento" type="text" class="form-control" name="fechaNacimiento" ngbDatepicker  #fechaNacimientoDp="ngbDatepicker" [(ngModel)]="personaje.fechaNacimiento"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="fechaNacimientoDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="prosopografiaApp.personaje.fechaDefuncion" for="field_fechaDefuncion">Fecha Defuncion</label>
            <div class="input-group">
                <input id="field_fechaDefuncion" type="text" class="form-control" name="fechaDefuncion" ngbDatepicker  #fechaDefuncionDp="ngbDatepicker" [(ngModel)]="personaje.fechaDefuncion"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="fechaDefuncionDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="prosopografiaApp.personaje.nombresAlternativos" for="field_nombresAlternativos">Nombres Alternativos</label>
            <input type="text" class="form-control" name="nombresAlternativos" id="field_nombresAlternativos"
                [(ngModel)]="personaje.nombresAlternativos" maxlength="50"/>
            <div [hidden]="!(editForm.controls.nombresAlternativos?.dirty && editForm.controls.nombresAlternativos?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nombresAlternativos?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="prosopografiaApp.personaje.apellidosAlternativos" for="field_apellidosAlternativos">Apellidos Alternativos</label>
            <input type="text" class="form-control" name="apellidosAlternativos" id="field_apellidosAlternativos"
                [(ngModel)]="personaje.apellidosAlternativos" maxlength="50"/>
            <div [hidden]="!(editForm.controls.apellidosAlternativos?.dirty && editForm.controls.apellidosAlternativos?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.apellidosAlternativos?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="prosopografiaApp.personaje.sexo" for="field_sexo">Sexo</label>
            <input type="checkbox" class="form-control" name="sexo" id="field_sexo"
                [(ngModel)]="personaje.sexo" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="prosopografiaApp.personaje.observaciones" for="field_observaciones">Observaciones</label>
            <input type="text" class="form-control" name="observaciones" id="field_observaciones"
                [(ngModel)]="personaje.observaciones" maxlength="2000"/>
            <div [hidden]="!(editForm.controls.observaciones?.dirty && editForm.controls.observaciones?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.observaciones?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 2000 }">
                   This field cannot be longer than 2000 characters.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="prosopografiaApp.personaje.persona" for="field_persona">Persona</label>
            <select class="form-control" id="field_persona" name="persona" [(ngModel)]="personaje.persona" required>
                <option *ngIf="!editForm.value.persona" [ngValue]="null" selected></option>
                <option [ngValue]="personaOption.id === personaje.persona?.id ? personaje.persona : personaOption" *ngFor="let personaOption of personas; trackBy: trackPersonaById">{{personaOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.persona?.dirty && editForm.controls.persona?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.persona?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="prosopografiaApp.personaje.lugarNacimiento" for="field_lugarNacimiento">Lugar Nacimiento</label>
            <select class="form-control" id="field_lugarNacimiento" name="lugarNacimiento" [(ngModel)]="personaje.lugarNacimiento" >
                <option [ngValue]="null"></option>
                <option [ngValue]="lugarOption.id === personaje.lugarNacimiento?.id ? personaje.lugarNacimiento : lugarOption" *ngFor="let lugarOption of lugars; trackBy: trackLugarById">{{lugarOption.nombre}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="prosopografiaApp.personaje.lugarDefuncion" for="field_lugarDefuncion">Lugar Defuncion</label>
            <select class="form-control" id="field_lugarDefuncion" name="lugarDefuncion" [(ngModel)]="personaje.lugarDefuncion" >
                <option [ngValue]="null"></option>
                <option [ngValue]="lugarOption.id === personaje.lugarDefuncion?.id ? personaje.lugarDefuncion : lugarOption" *ngFor="let lugarOption of lugars; trackBy: trackLugarById">{{lugarOption.nombre}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="prosopografiaApp.personaje.profesiones" for="field_profesiones">Profesiones</label>
            <select class="form-control" id="field_profesiones" multiple name="profesiones" [(ngModel)]="personaje.profesiones">
                <option [ngValue]="getSelected(personaje.profesiones, profesionOption)" *ngFor="let profesionOption of profesions; trackBy: trackProfesionById">{{profesionOption.nombre}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
